In [1]:
import pandas as pd

In [2]:
file = '../dataframes/tadolescente_enadis_2017.csv'

In [3]:
df = pd.read_csv(filepath_or_buffer=file)

In [5]:
df.head()

,Unnamed: 0,upm,viv_sel,hogar,n_ren,pm6_1,pm6_2,pm6_3_1,pm6_3_2,pm6_3_3,...,pm8_7_7,pm8_7_8,factor_per,upm_dis,est_dis,tloc,estrato,ent,sexo,edad
0,0,100040,2,1,4,1.0,1.0,1.0,1.0,2.0,...,2.0,2.0,187,1,2,1,3,1,1,26
1,1,100040,3,1,1,3.0,2.0,2.0,2.0,1.0,...,2.0,2.0,210,1,2,1,3,1,1,26
2,2,100040,3,1,2,2.0,7.0,1.0,1.0,2.0,...,2.0,2.0,210,1,2,1,3,1,2,28
3,3,100080,1,2,2,2.0,3.0,1.0,1.0,1.0,...,2.0,2.0,183,2,2,1,3,1,2,29
4,4,100080,2,1,2,1.0,3.0,2.0,1.0,1.0,...,2.0,2.0,109,2,2,1,3,1,2,26

In [12]:
df_copy = df.copy()

In [13]:
df_copy.columns

Index(['Unnamed: 0', 'upm', 'viv_sel', 'hogar', 'n_ren', 'pm6_1', 'pm6_2',
       'pm6_3_1', 'pm6_3_2', 'pm6_3_3', 'pm6_3_4', 'pm6_3_5', 'pm8_1_1',
       'pm8_1_2', 'pm8_1_3', 'pm8_1_4', 'pm8_1_5', 'pm8_4_1', 'pm8_4_2',
       'pm8_4_3', 'pm8_4_4', 'pm8_4_5', 'pm8_6_01', 'pm8_6_02', 'pm8_6_03',
       'pm8_6_04', 'pm8_6_05', 'pm8_6_06', 'pm8_6_07', 'pm8_6_08', 'pm8_6_09',
       'pm8_6_10', 'pm8_7_1', 'pm8_7_2', 'pm8_7_3', 'pm8_7_4', 'pm8_7_5',
       'pm8_7_6', 'pm8_7_7', 'pm8_7_8', 'factor_per', 'upm_dis', 'est_dis',
       'tloc', 'estrato', 'ent', 'sexo', 'edad'],
      dtype='object')

In [14]:
df_copy.drop(labels=['Unnamed: 0', 'upm', 'viv_sel', 'hogar', 'n_ren', 'factor_per', 'upm_dis', 'est_dis'], axis=1, inplace=True)

In [15]:
df_copy.shape

(36192, 40)

In [16]:
df_copy.columns

Index(['pm6_1', 'pm6_2', 'pm6_3_1', 'pm6_3_2', 'pm6_3_3', 'pm6_3_4', 'pm6_3_5',
       'pm8_1_1', 'pm8_1_2', 'pm8_1_3', 'pm8_1_4', 'pm8_1_5', 'pm8_4_1',
       'pm8_4_2', 'pm8_4_3', 'pm8_4_4', 'pm8_4_5', 'pm8_6_01', 'pm8_6_02',
       'pm8_6_03', 'pm8_6_04', 'pm8_6_05', 'pm8_6_06', 'pm8_6_07', 'pm8_6_08',
       'pm8_6_09', 'pm8_6_10', 'pm8_7_1', 'pm8_7_2', 'pm8_7_3', 'pm8_7_4',
       'pm8_7_5', 'pm8_7_6', 'pm8_7_7', 'pm8_7_8', 'tloc', 'estrato', 'ent',
       'sexo', 'edad'],
      dtype='object')

In [19]:
df_copy.fillna(value=-1, inplace=True)

In [21]:
df_copy = df_copy.astype('int64')

In [22]:
for columns in df_copy.columns:
    print(df_copy[columns].value_counts())

 2    16095
 3    11141
 1     6960
 4     1539
-1      358
 9       99
Name: pm6_1, dtype: int64
 3    12396
 2     7385
 1     4776
 4     3327
 5     3060
 7     2699
 6     2105
-1      358
 8       86
Name: pm6_2, dtype: int64
 2    18285
 1    17414
-1      358
 9      135
Name: pm6_3_1, dtype: int64
 1    20635
 2    14718
 9      481
-1      358
Name: pm6_3_2, dtype: int64
 1    17886
 2    17652
-1      358
 9      296
Name: pm6_3_3, dtype: int64
 1    26004
 2     9594
-1      358
 9      236
Name: pm6_3_4, dtype: int64
 1    28134
 2     7578
-1      358
 9      122
Name: pm6_3_5, dtype: int64
 2    33018
 1     1911
 3      905
-1      358
Name: pm8_1_1, dtype: int64
 2    25432
 3     9079
 1     1323
-1      358
Name: pm8_1_2, dtype: int64
 2    34706
 3      566
 1      562
-1      358
Name: pm8_1_3, dtype: int64
 2    20339
 3    12850
 1     2645
-1      358
Name: pm8_1_4, dtype: int64
 2    32564
 3     2392
 1      878
-1      358
Name: pm8_1_5, dtype: int64
 2    34317
 1     1494
-1      358
 8       23
Name: pm8_4_1, dtype: int64
 2    30105
 1     5720
-1      358
 8        9
Name: pm8_4_2, dtype: int64
 2    28921
 1     6907
-1      358
 8        6
Name: pm8_4_3, dtype: int64
 2    32086
 1     3739
-1      358
 8        9
Name: pm8_4_4, dtype: int64
 2    35448
-1      358
 1      281
 8      105
Name: pm8_4_5, dtype: int64
 2    34911
 1      919
-1      358
 8        4
Name: pm8_6_01, dtype: int64
 2    34123
 1     1706
-1      358
 8        5
Name: pm8_6_02, dtype: int64
 2    32613
 1     3215
-1      358
 8        6
Name: pm8_6_03, dtype: int64
 2    33279
 1     2549
-1      358
 8        6
Name: pm8_6_04, dtype: int64
 2    34692
 1     1133
-1      358
 8        9
Name: pm8_6_05, dtype: int64
 2    34706
 1     1122
-1      358
 8        6
Name: pm8_6_06, dtype: int64
 2    33894
 1     1882
-1      358
 8       58
Name: pm8_6_07, dtype: int64
 2    34480
 1     1344
-1      358
 8       10
Name: pm8_6_08, dtype: int64
 2    34218
 1     1608
-1      358
 8        8
Name: pm8_6_09, dtype: int64
 2    35536
-1      358
 1      280
 8       18
Name: pm8_6_10, dtype: int64
 2    29265
 3     4082
 1     2487
-1      358
Name: pm8_7_1, dtype: int64
 2    34773
 1     1044
-1      358
 3       17
Name: pm8_7_2, dtype: int64
 2    34317
 1      795
 3      722
-1      358
Name: pm8_7_3, dtype: int64
 2    27696
 3     7552
 1      586
-1      358
Name: pm8_7_4, dtype: int64
 2    34851
 1      508
 3      475
-1      358
Name: pm8_7_5, dtype: int64
 2    33726
 1     2010
-1      358
 3       98
Name: pm8_7_6, dtype: int64
 2    31453
 3     3203
 1     1178
-1      358
Name: pm8_7_7, dtype: int64
 2    33881
 3     1908
-1      358
 1       45
Name: pm8_7_8, dtype: int64
1    21874
4     5120
2     4806
3     4392
Name: tloc, dtype: int64
2    19226
3     8881
1     4464
4     3621
Name: estrato, dtype: int64
11    2769
29    2580
13    2168
16    1515
20    1440
27    1373
17    1367
30    1176
7     1144
1     1045
10    1012
21     954
14     953
22     947
15     943
24     927
32     926
25     925
31     925
8      924
12     917
19     915
4      905
26     893
5      886
9      864
23     832
18     816
3      812
6      803
2      769
28     767
Name: ent, dtype: int64
2    18341
1    17851
Name: sexo, dtype: int64
12    3474
13    2484
15    2429
14    2385
17    2326
16    2256
18    2097
22    1833
20    1825
19    1783
21    1751
28    1743
23    1724
27    1714
24    1651
25    1648
29    1544
26    1525
Name: edad, dtype: int64

In [24]:
df_copy.to_csv(path_or_buf='../dataframes/tadolescente_enadis_2017_clean.csv')